@model Khaira_Freight.Models.truck

@{
    ViewBag.Title = "Create";
}
    <style>
        #required:after {
            content: " *";
            color: #f00;
        }

        #btn_style {
            color: #494949 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #ffffff;
            padding: 20px;
            border: 4px solid #494949 !important;
            display: inline-block;
            transition: all 0.4s ease 0s;
        }

            #btn_style:hover {
                color: #ffffff !important;
                background: #f6b93b;
                border-color: #f6b93b !important;
                transition: all 0.4s ease 0s;
            }
    </style>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal  breadcrumb" style="        background-color:lavender;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
        max-width: 700px;
          min-width:min-content;">
    <h2 id="btn_style">Add Truck</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.unit_number, htmlAttributes: new { Title = "Enter 4 digit numeric Unit number", @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.unit_number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.unit_number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.plate_number, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.plate_number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.plate_number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.registration, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.registration, new { htmlAttributes = new { Title = "Enter the province registered at", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.registration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vin_number, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.vin_number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.vin_number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.make, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.make, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.make, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.status, Model.statusList, "--Select--")
            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.owner_company, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.owner_company, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.owner_company, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.driver, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.driver, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.driver, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.last_location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.last_location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.last_trip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.last_trip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_trip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default">
                @Html.ActionLink("Back to List", "Index")
            </button>

        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
