@model Khaira_Freight.Models.truck

@{
    ViewBag.Title = "Truck Details";
}
    <style>
        #required:after {
            content: " *";
            color: #f00;
        }

        #btn_style {
            color: #494949 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #ffffff;
            padding: 20px;
            border: 4px solid #494949 !important;
            display: inline-block;
            transition: all 0.4s ease 0s;
        }

            #btn_style:hover {
                color: #ffffff !important;
                background: #f6b93b;
                border-color: #f6b93b !important;
                transition: all 0.4s ease 0s;
            }
    </style>


    <div class="form-horizontal  breadcrumb" style="        background-color:lavender;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
        max-width: 700px;
        min-width:min-content;">
        <h2 id="btn_style">Truck Details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.unit_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.unit_number)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.plate_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.plate_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.registration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.registration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.vin_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.vin_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.make)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.make)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.owner_company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.owner_company)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.driver)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.driver)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.last_location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.last_trip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_trip)
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.unit_number })
                </button>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default">
                    @Html.ActionLink("Back to List", "Index")
                </button>

            </div>
        </div>
    </div>
