@model IEnumerable<Khaira_Freight.Models.pay_statement>

@{
    ViewBag.Title = "Manage Employee Pay";
}
<style>
    #required:after {
        content: " *";
        color: #f00;
    }

    #btn_style {
        color: #494949 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 20px;
        border: 4px solid #494949 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
    }

        #btn_style:hover {
            color: #ffffff !important;
            background: #f6b93b;
            border-color: #f6b93b !important;
            transition: all 0.4s ease 0s;
        }
</style>


<div style=" background-color:lavender;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
        max-width: 600px;
         min-width:min-content;">
    <h2 id="btn_style">Manage Employee Pay</h2>

    @using (Html.BeginForm("ManagePay", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="dropdown">
                <label>Department <span style="color:red;">*</span> &rarr; </label>
                <select id="SelectDept" name="SelectDept">

                    <option value="">Select</option>
                    <option value="Driver">Driver</option>
                    <option value="Dispatch">Dispatcher</option>

                </select>
            </div>
            <br>
            <div class="form-horizontal">

                <label for="empid">Employee Id <span style="color: red;">*</span> &rarr; </label>
                <input type="number" name="empid" id="empid" required />

            </div>
            <br>


            <div class="btn-block">
                <label for="postedFile">Pay Statement <span style="color: red;">*</span> &darr; </label>
                <input class="btn btn-primary" type="file" name="postedFile" id="postedFile" required />
            </div>

            <div class="btn-block">
                <input type="submit" id="btnUpload" value="Upload" class="btn btn-primary" />

            </div>
        </div>

    }
    <div class="alert">
        <h4 class="alert-success">@ViewBag.Success</h4>
        <h4 class="alert-danger">@ViewBag.ErrorMessage1</h4>
        <h4 class="alert-danger">@ViewBag.ErrorMessage2</h4>
        <h4 class="alert-danger">@ViewBag.ErrorMessage3</h4>
    </div>
</div>




<div style=" background-color:lavender;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
        max-width: 600px;min-width:min-content;">
    <h3 id="btn_style">Employee Pay Data :</h3>
    @using (Html.BeginForm("DownloadPayFile", "Admin", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
   
    <hr />
    <table class="table-hover" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:50px">File ID</th>
            <th style="width:120px">File Name</th>
            <th style="width:120px">Employee Id</th>
            <th style="width:120px">Department</th>
            <th style="width:80px">Download</th>
            <th style="width:80px">Delete</th>
        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var file in Model)
            {
    <tr>
        <td>@file.Id</td>
        <td>@file.Name</td>
        <td>@file.emp_id</td>
        <td>@file.department</td>
        <td><a href="javascript:;" onclick="DownloadPayFile(@file.Id)">Download</a></td>
        <td>@Html.ActionLink("Delete", "DeleteFile", new { id = @file.Id})</td>

       
    </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script type="text/javascript" src="jquery.min.js"></script>*@
    <script type="text/javascript">
        function DownloadPayFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };

    </script>
  

}


